/* Some css fix for tools */
.question-container.panel > .question-container.panel-body {
    padding-top: 0;
    margin-top: -@panel-body-padding;
    margin-bottom: 0;
}
.dir-ltr .question-container.skel-inside {padding-left: @panel-body-padding;}
.dir-rtl .question-container.skel-inside {padding-right: @panel-body-padding;}
h1.body-copy,
h2.body-copy,
h3.body-copy,
h4.body-copy,
h5.body-copy,
h6.body-copy
    {font-size:inherit}
/* skel-wrap-none inside panel */
.wrap-panel > .wrap-none {
  padding: @panel-body-padding;
}
.wrap-panel > .wrap-none.no-padding {
  padding: 0;
}