.radio-item input[type="radio"],.checkbox-item input[type="checkbox"]{opacity:0;
width:1.2rem;height:1.2rem}

.radio-item label::before,.checkbox-item label::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  margin-top : -0.7rem;
  border: 0.2rem solid @ls-radiocheckbox-awesome-border;
  background-color: @ls-radiocheckbox-awesome-color;
  z-index:2;
}
.radio-item label::before {
  border-radius: 50%;
}
.checkbox-item label::before {
  border-radius: @border-radius-small;
}
.dir-ltr .radio-item label::before,.dir-ltr .checkbox-item label::before {
    left: 0;margin-left: @padding-large-horizontal/2;
}
.dir-rtl .radio-item label::before ,.dir-rtl .checkbox-item label::before {
    right: 0;margin-right: @padding-large-horizontal/2;
}
.radio-item input[type="radio"]:focus + label::before ,.checkbox-item input[type="checkbox"]:focus + label::before{
    box-shadow: 0 0 0.3rem 0.1px @state-info-text;
}

.radio-item label::after ,.checkbox-item label::after{
  display: inline-block;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  margin-top : -0.7rem;
  border: 0.2rem solid @ls-radiocheckbox-awesome-border;
  z-index:3;
  visibility: hidden;
  opacity:0;
}
.radio-item label::after{
  content: " ";
  border-radius: 50%;
  background-color: @ls-radio-awesome-checked-color;
}
.checkbox-item label::after{
  border-radius: @border-radius-small;
  background-color: @ls-checkbox-awesome-checked-bgcolor;
  font-family: "FontAwesome";
  content: "\f00c";
  color:@ls-checkbox-awesome-checked-color;
  font-size:0.8rem;
  text-indent:0;
  line-height:0.8rem;
  text-align:center;
}

.dir-ltr .radio-item label::after,.dir-ltr .checkbox-item label::after {
    left: 0;margin-left: @padding-large-horizontal/2;
}
.dir-rtl .radio-item label::after,.dir-rtl .checkbox-item label::after {
    right: 0;margin-right: @padding-large-horizontal/2;
}
.radio-item input[type="radio"]:checked + label::after,.checkbox-item input[type="checkbox"]:checked + label::after {
  visibility: visible;
  opacity:1;
}

/* for table only if bigger */
@media
only screen and (min-width: @screen-sm) {
    .radio-item label.ls-label-xs-visibility,.checkbox-item label.ls-label-xs-visibility{
        display:inline-block;
        position:relative;
        overflow:hidden;
        width: 2rem;
        height: 2rem;
        line-height: 3rem;
        text-indent: 3rem;
        padding:0;
        top: 0.7rem;
    }
    
    .dir-ltr .radio-item label.ls-label-xs-visibility,.dir-ltr .checkbox-item label.ls-label-xs-visibility{
        margin-left:-1rem;
    }
    .dir-rtl .radio-item label.ls-label-xs-visibility,.dir-rtl .checkbox-item label.ls-label-xs-visibility{
        margin-right:-1rem;
    }
    .dir-ltr .radio-item label.ls-label-xs-visibility::before,.dir-rtl .radio-item label.ls-label-xs-visibility::before,
    .dir-ltr .checkbox-item label.ls-label-xs-visibility::before,.dir-rtl .checkbox-item label.ls-label-xs-visibility::before{
        margin-left: 0;margin-right: 0;
    }
    .dir-ltr .radio-item label.ls-label-xs-visibility::before,.dir-ltr .radio-item label.ls-label-xs-visibility::after,
    .dir-ltr .checkbox-item label.ls-label-xs-visibility::before,.dir-ltr .checkbox-item label.ls-label-xs-visibility::after
      {margin-left: 0;left:0.4rem;}
    .dir-rtl .radio-item label.ls-label-xs-visibility::before,.dir-rtl .radio-item label.ls-label-xs-visibility::after,
    .dir-rtl .checkbox-item label.ls-label-xs-visibility::before,.dir-rtl .checkbox-item label.ls-label-xs-visibility::after
      {margin-right: 0;right:0.4rem;}
    .dir-ltr td.radio-item input[type="radio"],.dir-ltr td.checkbox-item input[type="checkbox"]{left:0.4rem}
    .dir-ltr td.radio-item input[type="radio"],.dir-ltr td.checkbox-item input[type="checkbox"]{right:0.4rem}
}
