.answer-item label:hover, .answer-item input:focus + label,
tr.answers-list:hover .control-label,tr.subquestion-list:hover .control-label,
tr.answers-list:hover .answertext,tr.subquestion-list:hover .control-label,
.ls-choice:hover,
th.col-hover{
    color: @ls-label-hover-color;
    text-shadow: 0.1rem 0.1rem 0.2rem @ls-label-hover-shadow;
}
.checkbox-text-item .input-sm,.radio-text-item .input-sm {
  // Fix height of other input
  .input-size(@input-height-base; @padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @input-border-radius-small);
}
/* Input radio checkbox position */

.answer-item ,.radio-item ,.checkbox-item {position:relative}
.radio-item label,.checkbox-item label {display:block}
.radio-item input[type="radio"],.checkbox-item input[type="checkbox"] {z-index:1;position:absolute;}
.radio-item input[type="radio"],.checkbox-item input[type="checkbox"] {margin:0;display:inline-block}
.radio-item input[type="radio"],.checkbox-item input[type="checkbox"] {top:50%;}
.radio-item input[type="radio"], .checkbox-item input[type="checkbox"] {margin-top:-@font-size-base*0.6;}
.radio-list .radio-item ,.checkbox-list .checkbox-item,.answers-list .radio-item {margin:0}
.dir-ltr .radio-item input[type="radio"],.dir-ltr .checkbox-item input[type="checkbox"] {left: @ls-radiocheckoxpadding-horizontal*2/3;}
.dir-rtl .radio-item input[type="radio"],.dir-rtl .checkbox-item input[type="checkbox"] {right: @ls-radiocheckoxpadding-horizontal*2/3;}

.radio-list .radio-item label ,.checkbox-list .checkbox-item label,.answers-list .radio-item label {padding: @ls-radiocheckoxpadding-vertical @ls-radiocheckoxpadding-horizontal;}
.dir-ltr .radio-list .radio-item label ,.dir-ltr .checkbox-list .checkbox-item label,.dir-ltr .answers-list .radio-item label {padding-left:@ls-radiocheckoxpadding-horizontal*2}
.dir-rtl .radio-list .radio-item label ,.dir-rtl .checkbox-list .checkbox-item label,.dir-rtl .answers-list .radio-item label {padding-right:@ls-radiocheckoxpadding-horizontal*2}

.checkbox-text-item .checkbox-item label{padding: @ls-radiocheckoxpadding-vertical @ls-radiocheckoxpadding-horizontal*2;}
.radio-item label , .checkbox-item label,.radio-text-item label {min-height:@line-height-computed;}
.checkbox-text-item .checkbox-item label{min-height:@line-height-computed;}

.dir-ltr .radio-list  .radio-text-item label,.dir-ltr .checkbox-list  .checkbox-text-item label{padding-left:@ls-radiocheckoxpadding-horizontal*2}
.dir-ltr .radio-list  .radio-text-item input[type="radio"],.dir-ltr .checkbox-list  .checkbox-text-item input[type="checkbox"]{left:@ls-radiocheckoxpadding-horizontal*2/3}
.dir-rtl .radio-list  .radio-text-item label,.dir-rtl .checkbox-list  .checkbox-text-item label{padding-right:@ls-radiocheckoxpadding-horizontal*2}
.dir-rtl .radio-list  .radio-text-item input[type="radio"],.dir-rtl .checkbox-list  .checkbox-text-item input[type="checkbox"]{right:@ls-radiocheckoxpadding-horizontal*2/3}

/* Inside table */
td.radio-item input[type="radio"], td.checkbox-item input[type="checkbox"] {
  position:relative;
  top:auto;
  margin:0.5em 0;
  }
.dir-ltr td.radio-item input[type="radio"],.dir-ltr td.checkbox-item input[type="checkbox"] {
  left:auto;
}
.dir-rtl td.radio-item input[type="radio"],.dir-rtl td.checkbox-item input[type="checkbox"] {
  right:auto;
}

/* Hover column */
.table-col-hover col.hover{
  background: @table-bg-hover;
}
.table-col-hover tr.answers-list:hover{
  background: @ls-hover-column-bg;
}
.table-hover col.hover{
  background: @ls-hover-column-bg;
}
@media
only screen and (max-width: @screen-sm) {
  td.radio-item input[type="radio"], td.checkbox-item input[type="checkbox"] {
    position:absolute;
    top:50%;
    margin:0;margin-top:-@font-size-base*0.6;
  }
  .table-col-hover col.hover{
    background: transparent;
  }
  .table-col-hover tr.answers-list:hover{
    background: transparent;
  }
  .table-hover col.hover{
    background: transparent;
  }
  .dir-ltr td.radio-item input[type="radio"],.dir-ltr td.checkbox-item input[type="checkbox"] {left: @ls-radiocheckoxpadding-horizontal*2/3;}
  .dir-rtl td.radio-item input[type="radio"],.dir-rtl td.checkbox-item input[type="checkbox"] {right: @ls-radiocheckoxpadding-horizontal*2/3;}
}
